<p id="notice"><%= notice %></p>

<h1>Listing Profissoes Buscas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profissoes_buscas.each do |profissoes_busca| %>
      <tr>
        <td><%= profissoes_busca.nome %></td>
        <td><%= link_to 'Show', profissoes_busca %></td>
        <td><%= link_to 'Edit', edit_profissoes_busca_path(profissoes_busca) %></td>
        <td><%= link_to 'Destroy', profissoes_busca, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profissoes busca', new_profissoes_busca_path %>
