<script type="text/javascript">
  $(document).ready(function() {
    $("#profissional_cep").mask("99999-999");
    $("#profissional_celular").mask("(99)99999-9999");
    $("#profissional_whatsapp").mask("(99)99999-9999");
  });
</script>
<!-- Adicionando JQuery -->
    <script src="//code.jquery.com/jquery-2.2.2.min.js"></script>

    <!-- Adicionando Javascript -->
    <script type="text/javascript" >

        $(document).ready(function() {

            function limpa_formulário_cep() {
                // Limpa valores do formulário de cep.
                $("#profissional_rua").val("");
                $("#profissional_bairro").val("");
                $("#profissional_cidade").val("");
                $("#profissional_estado").val("");
              
            }
            
            //Quando o campo cep perde o foco.
            $("#profissional_cep").blur(function() {

                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if(validacep.test(cep)) {

                        //Preenche os campos com "..." enquanto consulta webservice.
                        $("#profissional_rua").val("...");
                        $("#profissional_bairro").val("...");
                        $("#profissional_cidade").val("...");
                        $("#profissional_estado").val("...");
                        

                        //Consulta o webservice viacep.com.br/
                        $.getJSON("//viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                            if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#profissional_rua").val(dados.logradouro);
                                $("#profissional_bairro").val(dados.bairro);
                                $("#profissional_cidade").val(dados.localidade);
                                $("#profissional_estado").val(dados.uf);
                                
                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });
        });
        $.noConflict();
    </script>

 
<%= form_for(@profissional) do |f| %>
  <% if @profissional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profissional.errors.count, "error") %> impediu esta crença de ser salva:</h2>

      <ul>
      <% @profissional.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <form class="form-horizontal">
      <div class="field form-group">
        Nome completo:
        <%= f.text_field :nome_completo, :class => 'form-control', :required => true %>
      </div>
      <div class="field form-group">
        Nome comercial:
        <%= f.text_field :nome_comercial, :class => 'form-control' %>
      </div>
      <div class="field form-group">
        Whatsapp:
        <%= f.text_field :whatsapp, :class => 'form-control' %>
      </div>
      <div class="field form-group">
        Celular:
        <%= f.text_field :celular, :class => 'form-control' %>
      </div>
      <div class="field form-group">
        E-mail:
        <%= f.text_field :email, :class => 'form-control', :placeholder => "email@exemplo.com" %>
      </div>
      <div class="field form-group">
        CEP:
        <%= f.text_field :cep, :class => 'form-control' %>
      </div>
      <div class="field form-group">
        Rua:
        <%= f.text_field :rua, :class => 'form-control' %>
      </div>
      <div class="field form-group">
        Bairro:
        <%= f.text_field :bairro, :class => 'form-control' %>
      </div>
      <div class="field form-group">
        Cidade:
        <%= f.text_field :cidade, :class => 'form-control' %>
      </div>
      <div class="field form-group">
        Estado:
        <%= f.text_field :estado, :class => 'form-control' %>
      </div>
      <div class="actions">
        <%= button_tag(type: 'submit', class: "btn btn-primary", title: 'Salvar') do %>
        <i class="fa fa-save"></i>
        <% end %>
      </div>
    </form>
  </div>
<% end %>