<div class="row" style="padding-top: 50px; padding-bottom: 0px ;">
  <div class="content-box animated fadeInRight">
    <div class="container">
      <div>
        <%= link_to '', new_profissional_path, :class => 'btn btn-primary fa fa-plus', :title => 'Nova Ãrea do Profissional' %>
      </div>
      <div class="row">
        <% @profissionais.each do |profissional| %>
          <div class="col-md-3">
            <div class="ibox">
              <div class="contact-box center-version">
                <a href="profile.html">
                  <img alt="image" class="img-circle" src="<%= image_path('a2.jpg') %>">
                  <h3 class="m-b-xs">
                    <strong><%= profissional.nome_completo %></strong>
                  </h3>
                  <div class="font-bold">
                    Programador
                  </div>
                  <address class="m-t-md">
                    <strong><%= profissional.nome_comercial %></strong>
                    <br>
                    <b>Rua</b>
                    <%= profissional.rua %>
                    <br>
                    <b>Estado</b>
                    <%= profissional.estado %>, <%= profissional.cep %>
                    <br>
                    <abbr title="Phone">
                      <b>Celular</b>
                    </abbr> <%= profissional.celular %>
                    <br>
                    <abbr title="Phone">
                      <b>Whatsapp</b>
                    </abbr> <%= profissional.whatsapp %>
                  </address>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <%= link_to 'Visualizar', profissional_path(profissional), :class => 'btn btn-sm btn-default fa fa-search', :title => 'Visualizar' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>