<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h1>Visualizando Profissional</h1>
        </div>
        <div class="ibox-content">
          <p id="notice">
            <center class="alert-info">
              <%= notice %> 
            </center>
          </p>
          <div class="panel panel-default">
            <div class="panel-body">
              <p>
                <strong>Nome completo:</strong>
                <%= @profissional.nome_completo %>
              </p>
              <hr>
              <p>
                <strong>Nome comercial:</strong>
                <%= @profissional.nome_comercial %>
              </p>
              <hr>
              <p>
                <strong>Whatsapp:</strong>
                <%= @profissional.whatsapp %>
              </p>
              <hr>
              <p>
                <strong>Celular:</strong>
                <%= @profissional.celular %>
              </p>
              <hr>
              <p>
                <strong>Email:</strong>
                <%= @profissional.email %>
              </p>
              <hr>
              <p>
                <strong>Endereco:</strong>
                <%= @profissional.endereco %>
              </p>
            </div>
          </div>
          <div>
          <%= link_to '', new_profissional_path, :class => 'btn btn-primary fa fa-plus', :title => 'Nova Ãrea do Profissional' %>
            <%= link_to '', edit_profissional_path(@profissional), :class => 'btn btn-warning fa fa-edit', :title => 'Editar' %>
            <%= link_to '', profissionais_path, :class => 'btn btn-danger fa fa-reply', :title => 'Voltar' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>