<script type="text/javascript">
  $(document).ready(function() {
    $("#registros_servicos_realizado_de").mask("99/99/9999");
    $("#registros_servicos_realizado_ate").mask("99/99/9999");
  });
</script>

<%= form_for(@registros_servicos_realizado) do |f| %>
  <% if @registros_servicos_realizado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registros_servicos_realizado.errors.count, "error") %> prohibited this registros_servicos_realizado from being saved:</h2>

      <ul>
      <% @registros_servicos_realizado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-2">
    <form class="form-horizontal">
      <div class="field form-group">
        Título do serviço
        <%= f.select(:servico_id, Servico.all.collect {|e| [e.nome, e.id]}, { prompt: "Selecione o serviço" },:class => 'form-control', :required => true) %>
      </div>
      <div class="field form-group">
        Nome do cliente
        <%= f.text_field :nome_cliente, :class => 'form-control' %>
      </div>
      <div class="field form-group">
        E-mail do cliente
        <%= f.text_field :email_cliente, :class => 'form-control' %>
      </div>
      <div class="field form-group">
        Descrição do serviço
        <%= f.text_area :descricao_servico, :class => 'form-control' %>
      </div>
      <div class="field form-group">
      Periodo de realização
        <br>
        De:
          <%= f.text_field :de, :class => 'form-control' %>
        Até:
          <%= f.text_field :ate, :class => 'form-control' %>
      </div>
      <div class="actions">
        <%= button_tag(type: 'submit', class: "btn btn-primary", title: 'Salvar') do %>
        <i class="fa fa-save"></i>
        <% end %>
      </div>
    </form>
  </div>
<% end %>
