<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col">
      <div class="ibox float-e-margins">
        <div>
          <div class="row">
            <div class="col-md-1 col-md-1">
              <h4>&nbsp;&nbsp;&nbsp;<%= link_to '', new_registros_servicos_realizado_path, :class => 'btn btn-primary fa fa-plus', :title => 'Novo Profissional' %></h4>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 ">
              <div style="text-align:center">
                <h2>Registros dos Serviços Realizados <span class="btn btn-info m-r-sm"><%= @registros_servicos_realizados.count %></span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <p id="notice">
            <center class="alert-info">
              <%= notice %> 
            </center>
          </p>
          <table class="table table-hover">
            <thead class="table table-bordered">
              <tr>
                <th>Titulo serviço</th>
                <th>Nome cliente</th>
                <th>E-mail cliente</th>
                <th>Descriçao serviço</th>
                <th>De</th>
                <th>Ate</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody class="table table-hover">
              <div class="contact-box">
                <% @registros_servicos_realizados.each do |registros_servicos_realizado| %>
                  <tr>
                    <td><%= Servico.find(registros_servicos_realizado.servico_id).nome if !registros_servicos_realizado.servico_id.blank? %></td>
                    <td><%= registros_servicos_realizado.nome_cliente %></td>
                    <td><%= registros_servicos_realizado.email_cliente %></td>
                    <td><%= registros_servicos_realizado.descricao_servico %></td>
                    <td><%= registros_servicos_realizado.de %></td>
                    <td><%= registros_servicos_realizado.ate %></td>
                    <div>
                      <td><%= link_to '', registros_servicos_realizado, :class => 'btn btn-primary fa fa-search', :title => 'Visualizar' %></td>
                      <td><%= link_to '', edit_registros_servicos_realizado_path(registros_servicos_realizado), :class => 'btn btn-warning fa fa-edit', :title => 'Editar' %></td>
                      <td><%= link_to '', registros_servicos_realizado, :method=>:delete, data: { confirm: 'Você tem certeza?' }, :class => 'btn btn-danger fa fa-trash',:title => 'Apagar' %></td>
                    </div>
                  </tr>
                <% end %>
              </div>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>