<p id="notice"><%= notice %></p>

<h1>Listing Servicos</h1>

<table>
  <thead>
    <tr>
      <th>Preco</th>
      <th>Prazo</th>
      <th>Nome</th>
      <th>Profissional</th>
      <th>Registros servicos realizado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servicos.each do |servico| %>
      <tr>
        <td><%= servico.preco %></td>
        <td><%= servico.prazo %></td>
        <td><%= servico.nome %></td>
        <td><%= servico.profissional %></td>
        <td><%= servico.registros_servicos_realizado %></td>
        <td><%= link_to 'Show', servico %></td>
        <td><%= link_to 'Edit', edit_servico_path(servico) %></td>
        <td><%= link_to 'Destroy', servico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Servico', new_servico_path %>
