<p id="notice"><%= notice %></p>

<p>
  <strong>Preco:</strong>
  <%= @servico.preco %>
</p>

<p>
  <strong>Prazo:</strong>
  <%= @servico.prazo %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @servico.nome %>
</p>

<p>
  <strong>Profissional:</strong>
  <%= Profissional.find(@servico.profissional_id).nome_completo if !@servico.profissional_id.nil? %>
</p>

<%= link_to 'Editar', edit_servico_path(@servico), :class => 'btn btn-primary' %>
<%= link_to 'Voltar', servicos_path, :class => 'btn btn-primary' %>
