<script type="text/javascript">
// Starrr plugin (https://github.com/dobtco/starrr)
var __slice = [].slice;
(function($, window) {
  var Starrr;

  Starrr = (function() {
    Starrr.prototype.defaults = {
      rating: void 0,
      numStars: 5,
      change: function(e, value) {}
    };

    function Starrr($el, options) {
      var i, _, _ref,
        _this = this;

      this.options = $.extend({}, this.defaults, options);
      this.$el = $el;
      _ref = this.defaults;
      for (i in _ref) {
        _ = _ref[i];
        if (this.$el.data(i) != null) {
          this.options[i] = this.$el.data(i);
        }
      }
      this.createStars();
      this.syncRating();
      this.$el.on('mouseover.starrr', 'span', function(e) {
        return _this.syncRating(_this.$el.find('span').index(e.currentTarget) + 1);
      });
      this.$el.on('mouseout.starrr', function() {
        return _this.syncRating();
      });
      this.$el.on('click.starrr', 'span', function(e) {
        return _this.setRating(_this.$el.find('span').index(e.currentTarget) + 1);
      });
      this.$el.on('starrr:change', this.options.change);
    }

    Starrr.prototype.createStars = function() {
      var _i, _ref, _results;

      _results = [];
      for (_i = 1, _ref = this.options.numStars; 1 <= _ref ? _i <= _ref : _i >= _ref; 1 <= _ref ? _i++ : _i--) {
        _results.push(this.$el.append("<span class='glyphicon .glyphicon-star-empty'></span>"));
      }
      return _results;
    };

    Starrr.prototype.setRating = function(rating) {
      if (this.options.rating === rating) {
        rating = void 0;
      }
      this.options.rating = rating;
      this.syncRating();
      return this.$el.trigger('starrr:change', rating);
    };

    Starrr.prototype.syncRating = function(rating) {
      var i, _i, _j, _ref;

      rating || (rating = this.options.rating);
      if (rating) {
        for (i = _i = 0, _ref = rating - 1; 0 <= _ref ? _i <= _ref : _i >= _ref; i = 0 <= _ref ? ++_i : --_i) {
          this.$el.find('span').eq(i).removeClass('glyphicon-star-empty').addClass('glyphicon-star');
        }
      }
      if (rating && rating < 5) {
        for (i = _j = rating; rating <= 4 ? _j <= 4 : _j >= 4; i = rating <= 4 ? ++_j : --_j) {
          this.$el.find('span').eq(i).removeClass('glyphicon-star').addClass('glyphicon-star-empty');
        }
      }
      if (!rating) {
        return this.$el.find('span').removeClass('glyphicon-star').addClass('glyphicon-star-empty');
      }
    };

    return Starrr;

  })();
  return $.fn.extend({
    starrr: function() {
      var args, option;

      option = arguments[0], args = 2 <= arguments.length ? __slice.call(arguments, 1) : [];
      return this.each(function() {
        var data;

        data = $(this).data('star-rating');
        if (!data) {
          $(this).data('star-rating', (data = new Starrr($(this), option)));
        }
        if (typeof option === 'string') {
          return data[option].apply(data, args);
        }
      });
    }
  });
})(window.jQuery, window);

$(function() {
  return $(".starrr").starrr();
});

$( document ).ready(function() {
      
  $('#hearts').on('starrr:change', function(e, value){
    $('#count').html(value);
  });
  
  $('#hearts-existing').on('starrr:change', function(e, value){
    $('#count-existing').html(value);
  });
});
</script>
<div class="animated fadeInRight">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
          <h1>
            <div class="row lead">
              <span id="count">
              </span>
              <div id="hearts" class="starrr">
                <p>
                  <b style="color:black"><%= Profissional.find(@servicos_profissional.profissoes_profissionais_id).nome_completo if !@servicos_profissional.profissoes_profissionais_id.nil? %>
                  </b>
                </p>
              </div>
            </div>
          </h1>
					<h3><%= Profissao.find(@servicos_profissional.profissoes_profissionais_id).nome_profissao if !@servicos_profissional.profissoes_profissionais_id.nil? %></h3>
					N° de serviços realizados.
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Serviço</th>
							</tr>
						</thead>
						<tbody>
              
							<% @servicos_profissional.each do |servico| %>
								<tr>
									<td><%= servico.nome %></td>
								</tr>
							<% end %>
							<div class="container">
								<div class="row">
									
								</div>
                <br>
                <div>
                  <h2><b><%= @servicos_profissional.count %></b>&nbsp;Serviços Realizados</h2> 
                  <p>
                    <div class="row lead">
                      <span id="count"></span><div id="hearts" class="starrr" value="5"><b style="color:#000">1&nbsp;</b></div>
                    </div>
                    <div class="row lead">
                      <span id="count"></span><div id="hearts" class="starrr" value="4"><b style="color:#000">0&nbsp;</b></div>
                    </div>
                    <div class="row lead">
                      <span id="count"></span><div id="hearts" class="starrr" value="3"><b style="color:#000">1&nbsp;</b></div>
                    </div>
                    <div class="row lead">
                      <span id="count"></span><div id="hearts" class="starrr" value="2"><b style="color:#000">0&nbsp;</b></div>
                    </div>
                    <div class="row lead">
                      <span id="count"></span><div id="hearts" class="starrr" value="1"><b style="color:#000">0&nbsp;</b></div>
                    </div>
                  </p>
                </div>
							</div>
						</tbody>
					</table>
				</div>
				<div class="ibox-content">
					<p id="notice">
						<center class="alert-info">
							<%= notice %> 
						</center>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>