<%= render 'form' %>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-push-1">
			<p>&nbsp; 
				<small>
					</br>
					Aproximadamente 
					<b>
						<%= 
							if !@nome_completo.blank?
								@nome_completo.count
							else 
								raise @profissao.inspect
							end 
						%>
					</b>
					resultados (0.23 seconds)
				</small>
				<br>
			<div class="search-result">		            	
				<% @busca.each do |buscar| %>
				<%# raise buscar.inspect %>
					<h3>
						<a href="/profissoes_profissionais/<%="#{buscar.id}"%>">
							<%= "#{buscar.nome_completo}" %>
						</a>
					</h3>
					<a href="#" class="search-link">
						<%= "#{buscar.email}" %>
					</a>
					<tbody class="table table-hover">
						<p>	
							<tr>
								<b>Profissão:</b>
								<td><%=buscar.nome_profissao %></td>
								<br>
								<b>Nome Comercial:</b>
								<td><%=buscar.nome_comercial %></td>
								<br>
								<b>WhatsApp:</b>
								<td><%=buscar.whatsapp %></td>
								<br>
								<b>Celular:</b>
								<td><%=buscar.celular %></td>
								<br>
								<b>Endereço:</b>
								<td><%=buscar.rua %> - <%=buscar.bairro %></td>				    
							</tr>
						</p>
						<br>
					</tbody>
				<% end %>
			</div>
		</div>
	</div>
</div>