<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
	    <div class="col-lg-12">
	        <div class="ibox float-e-margins">
	            <div class="ibox-content">
	            	<center>
		            	<h2>
							Profissionais Já!
						</h2>
					</center>
					<div class="input-group-btn">
						<%= form_tag :controller => "buscas_profissionais", :action => "buscar_profissional", :method => "post" do %>
						<%= text_field_tag :buscar_profissionais, nil, placeholder: "Buscar por Profissões ou Profissionais", class: "form-control set_datepicker" %>
					</div>
					<hr>
	                <small>		Aproximadamente 
	                	<%= 
	                		if !@nome_completo.blank?
	                			@nome_completo.count
	                		else 
	                			@profissao.count
	                		end 
	                	%> 
	                	resultados (0.52 seconds)
	            	</small>
						<br>
					<div class="input-group-btn">
						<center>
							<%= button_tag(type: 'submit', class: "btn btn-default", title: 'Pesquisar') do %>
					          Pesquisar por Profissionais Já!
					    	<% end %>
						</center>
					</div>
						<% end %>
		            <div class="hr-line-dashed"></div>
		            <div class="search-result">		            	
						<%  
							if !@buscar_profissionais.blank?   
			            		@busca.each do |buscar| 
			            %>
				                <h3><a href="/profissionais"><%= "#{buscar.nome_completo}" %></a></h3>
				                <a href="#" class="search-link"><%= "#{buscar.email}" %></a>
				                <tbody class="table table-hover">
					                <p>	
					                 	<tr>
									        <td><%#= p.nome_completo %></td>
									        <b>Nome Comercial:</b>
									        <%# p.nome_comercial.each do |nome| %>
									        	<td><%=buscar.nome_comercial %></td>
									        <%# end %>
									        <br>
									        <b>WhatsApp:</b>
									        	<%#=p.whatsapp.each do |whats| %>
									        		<td><%=buscar.whatsapp %></td>
									        	<%# end %>
									        <br>
									        <b>Celular:</b>
									        	<%#=p.celular.each do |cel| %>
									        		<td><%=buscar.celular %></td>
									        	<%#end %>
									        <br>
									        <td><%#= p.email %></td>
									        <b>Endereço:</b>
									        	<%#=p.endereco.each do |ende| %>
									        		<td><%=buscar.endereco %></td>
									        	<%# end %>						    
										</tr>
					                </p>
					                <br>
								</tbody>
							<% end %>
						<% elsif !@buscar_profissoes.blank? %>
							<% @buscar_profissao.each do |profissao| %>
								<h3><a href="/profissoes"><%= "#{profissao.profissao}" %></a></h3>
				                <tbody class="table table-hover">
					                <p>	
					                 	<tr>								      
									        <b>Profissão:</b>									     
									        <td><%=profissao.profissao %></td>									  		    
										</tr>
					                </p>
								</tbody>
							<% end %>
						<% end %>
		            </div>
	            </div>
	            <div class="hr-line-dashed"></div>
	            <div class="text-center">
	                <div class="btn-group">
	                    <button class="btn btn-white" type="button"><i class="fa fa-chevron-left"></i></button>
	                    <button class="btn btn-white">1</button>
	                    <button class="btn btn-white" type="button"><i class="fa fa-chevron-right"></i> </button>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>


