<div class="row" style="padding-top: 50px; padding-bottom: 0px ;">
  <div class="content-box animated fadeInRight">
    <div class="container">
      <div class="row">
        <div style="text-align:center">
          <h2>Profissionais <span class="badge badge-info"></span></h2>
        </div>
        <% if !@profissoes_profissionais.nil? %>
           <% @profissoes_profissionais.each do |profissoes_profissional| %>
            <div class="col-md-3">
              <div class="ibox">
                <div class="contact-box center-version">
                  <a href="profile.html">
                    <img alt="image" class="img-circle" src="<%= image_path('a2.jpg') %>">
                    <h3 class="m-b-xs">
                      <strong><%= profissoes_profissional.profissional.nome_completo %></strong>
                    </h3>
                    <div class="font-bold">
                      Programador
                    </div>
                    <address class="m-t-md">
                      <strong><%= profissoes_profissional.profissional.nome_comercial %></strong>
                      <br>
                      Rua:
                      <%= profissoes_profissional.profissional.rua %>
                      <br>
                      Estado:
                      <%= profissoes_profissional.profissional.estado %>, <%= profissoes_profissional.profissional.cep %>
                      <br>
                      <abbr title="Phone">
                        Celular:
                      </abbr> <%= profissoes_profissional.profissional.celular %>
                      <br>
                      <abbr title="Phone">
                        Whatsapp:
                      </abbr> <%= profissoes_profissional.profissional.whatsapp %>
                    </address>
                  </a>
                  <div class="contact-box-footer">
                    <%= link_to '', profissoes_profissional_path(profissoes_profissional), :class => 'btn btn-sm btn-default fa fa-search', :title => 'Visualizar' %> 
                  </div>
                  <div class="contact-box-footer">
                    <div class="m-t-xs btn-group">
                      <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                      <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                      <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>