<div class="animated fadeInRight">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h1><%= Profissional.find(@profissoes_profissional.profissional_id).nome_completo if !@profissoes_profissional.profissional_id.nil? %></h1>
					<h3><%= Profissao.find(@profissoes_profissional.profissao_id).profissao if !@profissoes_profissional.profissao_id.nil? %></h3>
					N° de serviços realizados.
				</div>
				<div class="ibox-content">
					<p id="notice">
						<center class="alert-info">
							<%= notice %> 
						</center>
					</p>
					<div>
						<%= link_to '', new_profissoes_profissional_path, :class => 'btn btn-primary fa fa-plus', :title => 'Nova Profissão do Profissional' %>
						<%= link_to '', edit_profissoes_profissional_path(@profissoes_profissional), :class => 'btn btn-warning fa fa-edit', :title => 'Editar' %>
						<%= link_to '', profissoes_profissionais_path, :class => 'btn btn-sm btn-danger fa fa-reply', :title => 'Voltar/Cancelar' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>