<%= form_for(@avaliacoes_servico) do |f| %>
  <% if @avaliacoes_servico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@avaliacoes_servico.errors.count, "error") %> prohibited this avaliacoes_servico from being saved:</h2>

      <ul>
      <% @avaliacoes_servico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="field form-group">
      Profissional
      <%= f.select(:profissional_id, Profissional.where(:ativo => true).collect {|e| [e.nome_completo, e.id]}, { prompt: "Selecione o Profissional"}, :class => 'form-control', :required => true)%>
    </div>
    <div class="field form-group">
      Serviço
      <%= f.select(:servico_id, Servico.where(:ativo => true).collect {|e| [e.nome, e.id]}, { prompt: "Selecione o Serviço"}, :class => 'form-control', :required => true)%>
    </div>
    <div class="field form-group">
      Comentario
      <%= f.text_area :comentario, :class => 'form-control' %>
    </div>
    <div class="field form-group">
      Papel
      <%= f.text_field :papel, :class => 'form-control' %>
    </div>
    <div class="field form-group">
      Avaliaçao
      <%= f.number_field :avaliacao, :class => 'form-control' %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
