<p id="notice"><%= notice %></p>

<h1>Listing Avaliacoes Servicos</h1>

<table>
  <thead>
    <tr>
      <th>Comentario</th>
      <th>Papel</th>
      <th>Avaliacao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @avaliacoes_servicos.each do |avaliacoes_servico| %>
      <tr>
        <td><%= avaliacoes_servico.comentario %></td>
        <td><%= avaliacoes_servico.papel %></td>
        <td><%= avaliacoes_servico.avaliacao %></td>
        <td><%= link_to 'Show', avaliacoes_servico %></td>
        <td><%= link_to 'Edit', edit_avaliacoes_servico_path(avaliacoes_servico) %></td>
        <td><%= link_to 'Destroy', avaliacoes_servico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Avaliacoes servico', new_avaliacoes_servico_path %>
