<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                </div>
                <div class="logo-element">
                </div>
            </li>
            <li>
                <a href=""><i class="fa fa-list-ul"></i> <span class="nav-label" data-i18n="nav.dashboard">E-Profissional </span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse ">
                    <li>
                        <%= link_to "Buscar", buscas_profissionais_path %>
                    </li>
                    <li>
                        <%= link_to "Áreas", areas_profissionais_path %>
                    </li>
                    <li>
                        <%= link_to "Profissionais", profissionais_path %>
                    </li>
                    <li>
                        <%= link_to "Profissões", profissoes_path %>
                    </li>
                    <li>
                        <%= link_to "Profissões dos profissionais", profissoes_profissionais_path %>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>