<div id="right-sidebar">
    <div class="sidebar-container">

        <ul class="nav">
            <li>
                <%= link_to "Buscar", buscas_profissionais_path %>
            </li>
            <li>
                <%= link_to "Áreas", areas_profissionais_path %>
            </li>
            <li>
                <%= link_to "Profissionais", profissionais_path %>
            </li>
            <li>
                <%= link_to "Profissões", profissoes_path %>
            </li>
            <li>
                <%= link_to "Profissões dos profissionais", profissoes_profissionais_path %>
            </li>
        </ul>

    </div>



</div>

