
<nav class="estilo">
    <ul class="nav navbar-top-links navbar-right">
        <li>
            <a data-toggle="dropdown" href="#">
                <i class="glyphicon glyphicon-th"></i>
                <ul class="dropdown-menu">
                    <li>
                        <%= link_to "Buscar", buscas_profissionais_path %>
                    </li>
                    <li>
                        <%= link_to "Áreas", areas_profissionais_path %>
                    </li>
                    <li>
                        <%= link_to "Profissionais", profissionais_path %>
                    </li>
                    <li>
                        <%= link_to "Profissões", profissoes_path %>
                    </li>
                    <li>
                        <%= link_to "Profissões dos profissionais", profissoes_profissionais_path %>
                    </li>
                </ul>
            </a>
        </li>
    </ul>
</nav>
